<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/camera.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Index</title>
    
</head>
<body>
    <header>
        <h1>
            <a href="../index/{{user_id}}">SSS ～Study Support System～</a>
        </h1>
        <nav>
            <ul>
                <li><input type="button" onclick="location.href='../index/{{user_id}}'" value="トップ"></li>
                <li><input type="button" onclick="location.href='../rank/{{user_id}}'" value="ランキング"></li>
                <li><input type="button" onclick="location.href='../time/{{user_id}}'" value="グラフ"></li>
                <li><input type="button" onclick="logout()" value="ログアウト"></li>

                <!--
                <li><a href="../index/{{user_id}}">トップ</a></li>
                <li><a href="../rank/{{user_id}}">ランキング</a></li>
                <li><a href="../time/{{user_id}}">グラフ</a></li>
                <li><input type="button" onclick="logout()" value="ログアウト"></li>
                -->
            </ul>
        </nav>
    </header>

    <main>
        <center>
            <br><br><br><br><br>

            <p><div id ="user_name"></div></p>
            <p><div id ="eye_time"></div></p>
            <p><div id ="rank"></div></p>
            <p><div id="login_count"></div></p>

            <div class="button">
                <button id="start">スタート</button><br>
                <button id="stop">ストップ</button><br>
            </div>

            <div class="camera">
                <br><br><br><br><br>
                <video id="myvideo"  width="640" height="480" autoplay playsinline></video>
                <canvas id="videocanvas" width="640" height="480"></canvas> 
                <img id="preview" src="{{ url_for('feed') }}" width="640" height="480"><br>
            </div>
            
        </center>
        
    </main>

    <!--　前のバージョン-
    <h1>SSS ～Study Support System～</h1>
    <!-- <p id="load">Firebase SDK Loading&hellip;</p> -->
    <!-- <input type="text" id="user_name" placeholder="ユーザー名"> -->
   
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
  
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
      
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
        <script src="../static/js/firebase.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>
</html>