<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="../static/js/camera.js"></script>
    <link rel="stylesheet" href="../static/css/index.css">
    <title>Index</title>
    
</head>
<body>
    <header>
        <h1>
            <a href="/">SSS ～Study Support System～</a>
        </h1>
        <nav class="pc-nav">
            <ul>
                <li><a href="#">ランキング</a></li>
                <li><a href="#">グラフ</a></li>
                <li><a href="#">COMPANY</a></li>
                <li><a href="#">CONTACT</a></li>
            </ul>
        </nav>
    </header>
    <h1>SSS ～Study Support System～</h1>
    <!-- <p id="load">Firebase SDK Loading&hellip;</p> -->
    <!-- <input type="text" id="user_name" placeholder="ユーザー名"> -->
    <div id ="user_name">こんにちは</div>
    <div id ="eye_time"></div>
    <div id ="rank"></div>
    <div id="login_count"></div>
    <a id ="time_url" href="../time/{{user_id}}">時間</a>
    <a id ="rank_url" href="../rank/{{user_id}}">ランク</a>
    
     <video id="myvideo"  width="640" height="480" autoplay playsinline></video>
    <canvas id="videocanvas" width="640" height="480"></canvas> 
    <img id="preview" src="{{ url_for('feed') }}" width="640" height="480"><br>
    <button id="start">録画</button>
    <button id="stop">ストップ</button>
   
    <!-- <input type="button" onclick="video()" value="録画"> -->

    <input type="button" onclick="logout()" value="ログアウト">
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
  
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
      
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
        <script src="../static/js/firebase.js"></script>
        <script src="../static/js/index.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</body>
</html>