<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login</title>
</head>
<body>
    <header>
        <h1>SSS ～Study Support System～<h2> Support for Blue Impulse</h2></h1>
    </header>
    <!-- <p id="load">Firebase SDK Loading&hellip;</p> -->
    <!-- <input type="text" id="user_name" placeholder="ユーザー名"> -->

    <div class="format">
        <input type="email" id="email" placeholder="email"><br>
        <input type="password" id="password" placeholder="password"><br>
        <input type="button" onclick="login()" value="ログイン"><br>
        <a href="./signup.html">新規登録</a><br>
    </div>

   
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
  
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
      
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
        <script src="../static/js/firebase.js"></script>
        <script src="../static/js/login.js"></script>
</body>
</html>