<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/rank.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    <title>Document</title>
</head>



<body>
    <header>
        <h1>
            <a href="../index/{{user_id}}">SSS ～Study Support System～</a>
        </h1>
        <nav>
            <ul>
                <li><input type="button" onclick="location.href='../index/{{user_id}}'" value="トップ"></li>
                <li><input type="button" onclick="location.href='../rank/{{user_id}}'" value="ランキング"></li>
                <li><input type="button" onclick="location.href='../time/{{user_id}}'" value="グラフ"></li>
                <li><input type="button" onclick="logout()" value="ログアウト"></li>

                <!--
                <li><a href="../index/{{user_id}}">トップ</a></li>
                <li><a href="../rank/{{user_id}}">ランキング</a></li>
                <li><a href="../time/{{user_id}}">グラフ</a></li>
                <li><input type="button" onclick="logout()" value="ログアウト"></li>
                -->
            </ul>
        </nav>
    </header>
    <h1>ランキング</h1>
  
    <input type="button" class="btn" value="今日の学習時間" />
    <input type="button" class="btn" value="今週の学習時間" />
    <input type="button" class="btn" value="今月の学習時間" />
    
    <table id ="container" class="container">
  
    </table>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type=”text/javascript” src=”https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js”></script>

    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
    <script src="../static/js/firebase.js"></script>
    <script src="../static/js/rank.js"></script>
</body>

</html>
