<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/rank.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    
    <title>Document</title>
</head>



<body>
 
    <h1>ランキング</h1>
    <input type="button" class="btn" value="今日の学習時間" />
    <input type="button" class="btn" value="今週の学習時間" />
    <input type="button" class="btn" value="今月の学習時間" />
    
    <table id ="container" class="container">
  
    </table>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type=”text/javascript” src=”https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js”></script>

    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    
    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
    <script src="../static/js/firebase.js"></script>
    <script src="../static/js/rank.js"></script>
</body>

</html>
