<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/signup.css">
    <title>Sign up</title>
</head>
<body>
    <header>
        <h1>SSS ～Study Support System～<h2> Supported by Blue Impulse</h2></h1>
    </header>

    <div class="format">
        <input type="text" id="user_name" placeholder="ユーザー名"><br>
        <input type="email" id="email" placeholder="email"><br>
        <input type="password" id="password" placeholder="password"><br>
        <input type="button" onclick="signup()" value="アカウント作成"><br>
        <a href="./login.html">ログイン画面に戻る</a>
    </div>
    
        <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
  
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
      
        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
        <script src="../static/js/firebase.js"></script>
        <script src="../static/js/login.js"></script>
</body>
</html>