<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/time.css">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="../static/js/time.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>
​
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
    <script src="../static/js/firebase.js"></script>
    <!-- <script src="js/time.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
</head>
​
​
<!DOCTYPE html>
<head>
  <title>Chart.js TEST</title>
  <meta charset="UTF-8">
</head>
​
<body>

    <header>
        <h1>
            <a href="../index/{{user_id}}">SSS ～Study Support System～</a>
        </h1>
        <nav>
            <ul>
                <li><input type="button" onclick="location.href='../index/{{user_id}}'" value="トップ"></li>
                <li><input type="button" onclick="location.href='../rank/{{user_id}}'" value="ランキング"></li>
                <li><input type="button" onclick="location.href='../time/{{user_id}}'" value="グラフ"></li>
                <li><input type="button" onclick="logout()" value="ログアウト"></li>

                <!--
                <li><a href="../index/{{user_id}}">トップ</a></li>
                <li><a href="../rank/{{user_id}}">ランキング</a></li>
                <li><a href="../time/{{user_id}}">グラフ</a></li>
                <li><input type="button" onclick="logout()" value="ログアウト"></li>
                -->
            </ul>
        </nav>
    </header>
    
    <h3>今週の学習時間</h3>
​
    <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js">
    </script>
​
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"
        integrity="sha512-F+u8eWHrfY8Xw9BLzZ8rG/0wIvs0y+JyRJrXjp3VjtFPylAEEGwKbua5Ip/oiVhaTDaDs4eU2Xtsxjs/9ag2bQ=="
        crossorigin="anonymous">
    </script>
​
    <canvas id="chart_cv"></canvas>
​
    <script type="text/javascript">
        const db = firebase.firestore();
        let summary ={};
        let day_k
        firebase.auth().onAuthStateChanged(async function(user) {
        
        if (user) {
            console.log(user.uid);
            var docRef = db.collection("users").doc(user.uid)
            const doc = await docRef.get();
            const docData = doc.data();
            
            const start = docData.time.start;
            const end = docData.time.end;
            const startDates = start.map(x => x.toDate())
            const endDates = end.map(x => x.toDate())
            const margedData = [];
            startDates.forEach((x, i) => {
                margedData.push({
                    date: x,
                    second: dateFns.differenceInSeconds(endDates[i], startDates[i]),
                })
            });
            
            console.log(margedData);
            const days = dateFns.eachDay(dateFns.addDays(new Date(), -6), new Date())
            
            console.log(days);
            
            const summaryData = days.map(x =>
                margedData
//                    y.date /= 60
                    .filter(y => dateFns.isSameDay(x, y.date))
                    .reduce((a, b) => a + b.second, 0)
            );
            
            console.log(summaryData);
            
            const graphData = {
                labels: days.map(x => dateFns.format(x, 'YYYY-MM-DD')),
                datasets: [{
                label: '週間',
                data: summaryData,
                backgroundColor: ['skyblue','skyblue','skyblue','skyblue','skyblue','skyblue','blue']
            }]}
            // グラフを描画 --- (*2)
            const ctx = document.getElementById('chart_cv')
            const chart_cv = new Chart(ctx, {
                type: 'bar', // グラフの種類
                data: graphData, // データ
                options: {
                    legend:{
                        display:false
                    },
                    scales:{
                        xAxes:[{
                            scaleLabel:{
                                display: true,
                                labelString: "日付",
                                fontColor: '#000',
                                fontSize: 20
                            }
                        }],
                        yAxes:[{
                            scaleLabel:{
                                display: true,
                                labelString: "学習時間",
                                fontColor: '#000',
                                fontSize: 20
                            },
                            ticks: {
                                suggesteMin : 0,
                            }
                        }]
                    },
                    strokeColor: '#000',
                    borderWidth: 10
                }
            }) // オプション

        } else {
            // doc.data() will be undefined in this case
            console.log("No such document!");
        }}
        )
    </script>
</body>
</html>