<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link rel="stylesheet" type="text/css" href="time.css" />  --> <!---元々-->
<!--    <link rel="stylesheet" href="../static/css/time.css"> -->
    <link rel="stylesheet" href="../static/css/time.css">
    <!-- <script src="../static/js/time.js"></script> -->
    <title>Document</title>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    
    
    <input type="button" class="btn" id="blue_btn" value="今日の学習時間" />
    <input type="button" class="btn" id="pink_btn" value="今週の学習時間" />
    <input type="button" class="btn" id="yellow_btn" value="今月の学習時間" />



    
    <div class="container">
        <table>
            <script>
                var today_time=5;
                document.write("<tr><th>" + "今日の学習時間" + "</th><th>"  +today_time+ "</th><th>" +"時間"  + "</th></tr>");
            </script>
        </table>
    </div>



    <!--今週-->
    <div class="week">
        <h2 class="title"> 今週の学習時間 </h2>

        <!--.clear{
            clear: both;
            background-color: #fere;
        }-->


        <div class="num12">
            <h4>12</h4>
        </div>
        <div class="num9">
            <h4>9</h4>
        </div>
        <div class="num6">
            <h4>6</h4>
        </div>
        <div class="num3">
            <h4>3</h4>
        </div>
        <div class="num0">
            <h4>0</h4>

        <div id="date0" class="date0">日付</div>
        <!-- <div id="date1" class="date1">
            <h4>date_1</h4>
        </div>
        <div id="date2" class="date2">
            <h4>date_2</h4>
        </div>
        <div id="date3" class="date3">
            <h4>date_3</h4>
        </div>
        <div id="date4" class="date4">
            <h4>date_4</h4>
        </div>
        <div id="date5" class="date5">
            <h4>date_5</h4>
        </div> -->


        <div class="box">
        <!--    padding: 3px 10px;-->
            <div class="num-bar">
                <div class="num-bar-0"></div>
                <div class="num-bar-1"></div>
                <div class="num-bar-2"></div>
                <div class="num-bar-3"></div>
                <div class="num-bar-4"></div>
                <div class="num-bar-5"></div>
                <div class="num-bar-6"></div>
            </div>
        </div>
    </div>

    <!--今月-->
        <script src="../static/js/time.js"></script>
        <h2 class="title"> 今月の学習時間 </h2>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-app.js"></script>
            
        <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-analytics.js"></script>

        <!-- Add Firebase products that you want to use -->
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-auth.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.23.0/firebase-firestore.js"></script>
        <script src="../js/firebase.js"></script>
        <!-- <script src="../js/time.js"></script> -->

    </body>
</html>