body{
    align-items: center;
    text-align:center;
    background-image: url("../image/pattern.jpg");
}

h1{
    color:#4007da;
    background-color: white;
    margin: 0;
}

h2{
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 4px solid black;
    background-color: white;
    padding-bottom:5px;
}

input[type="text"],input[type="email"],input[type="password"]{
    width:300px;
    padding:20px;
    margin-bottom:10px;
    border:1px solid #eee;
    font-size: 20px;
}

input[type="button"]{
    width:200px;
    background:#51bafb;
    color:#fff;
    font-size: 20px;
    margin-bottom: 10px;
}

input[type="button"]:hover{
    background: blue;;
}

a{
    font-size: 20px;
    color: black;
}

a:hover{
    color: blue;
}

.format{
    background-color: white;
    width: 400px;
    margin: 40px auto;
    padding-top: 10px;
    padding-bottom:20px;
    border:2px solid black;
}